class apb_slave_agt_top extends uvm_env;
	/////.....factory registration ...../////
	`uvm_component_utils(apb_slave_agt_top)
	apb_slave_agent apbsagnt[];
	//noc_arb_env_config cfg;

	/////..... function new constructor ...../////
	function new(string name = "apb_slave_agt_top",uvm_component parent);
		super.new(name,parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);
		//cfg = noc_arb_env_config::type_id::create("cfg");
		foreach(apbsagnt[i])begin
			apbsagnt[i] = apb_slave_agent::type_id::create($sformatf("apbsagnt[%0d]",i),this);
		end
	endfunction
endclass
